<!-- Aboutus Starts Here --->
<div class="aboutus" id="about">
  <div class="container">
    <div class="row aboutus-row">
      <div class="col-md-4 aboutus-row-column">
        <i class="icon1"></i>
        <h3>GET INSPIRED</h3>
        <span class="line-red"></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma.Aliquam erat volutpat. </p>
      </div>
      <div class="col-md-4 aboutus-row-column">
        <i class="icon2"></i>
        <h3>GET REWARDED</h3>
        <span class="line-red"></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma.Aliquam erat volutpat. </p>
      </div>
      <div class="col-md-4 aboutus-row-column">
        <i class="icon3"></i>
        <h3>GET SOCIAL</h3>
        <span class="line-red"></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma.Aliquam erat volutpat. </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Aboutus Ends Here --->