<!-- Aboutus Starts Here --->
<div class="aboutus" id="about">
  <div class="container">
    <div class="row aboutus-row">
      <div class="col-md-4 aboutus-row-column">
        <i class="icon1"></i>
        <h3>What?</h3>
        <span class="line-red"></span>
        <p>Register your device, your mobile phone, laptop, tablet, Ipods etc. You register your device with us and we will make sure to help others not to buy your device if it’s stolen. </p>
      </div>
      <div class="col-md-4 aboutus-row-column">
        <i class="icon2"></i>
        <h3>Why?</h3>
        <span class="line-red"></span>
        <p>“You don’t buy, they won’t snatch”. Discourage sale of stolen goods. They snatch because they know they can sell, they sell because you buy. </p>
      </div>
      <div class="col-md-4 aboutus-row-column">
        <i class="icon3"></i>
        <h3>How?</h3>
        <span class="line-red"></span>
        <p>RegDevice is simple but unique idea where we ask you to Register your device with us and if stolen, you just need to change your device status. Your registration and status update is key to help us to help others in this cause which we call Shaoor. </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Aboutus Ends Here --->