<!-- Footer Starts Here ---->
<div class="footer">
  <div class="container">
    <div class="footer-top">
      <a href="index.html"><img src="<%= image_url('logo-bot.png')%>" class="img-responsive" alt=""/></a>
    </div>
    <p class="footer-head">2014 Template By <a href="http://w3layouts.com/">W3layouts</a></p>
    <div class="clearfix"></div>
  </div>
</div>
<!-- Footer Ends Here ---->