<!-- Footer Starts Here ---->
<div class="footer">
  <div class="container">
    <div class="footer-top">
      <!--<a href="index.html"><img src="<%#= image_url('logo-bot.png')%>" class="img-responsive" alt=""/></a>-->
    </div>
    <p class="footer-head">RegDevice © 2014</p>
    <div class="clearfix"></div>
  </div>
</div>
<!-- Footer Ends Here ---->